.modal {
    background-color: rgba(0,0,0, 0.75);
    position: fixed;
    z-index: 999;
    width: 1366px;
    height: 1024px;
    justify-content: center;
    align-items: center;
    display: none;

    h2, h1 {
        color:blanchedalmond;

    }

}
.modal.isOpen {
    display: flex;
}

.modalContainer {
    background-color: #342D57;
    position: relative;
    width: 700px;
    height: 650px;
    overflow-y: auto;
    margin-bottom: 120px;
}
