.orderContainer{
    color: white;
    display:grid;
    grid-area: takingorders;
    p{
        align-self: center;
        justify-self: center;
    }
    input{
        align-self: center;
        justify-self: center;
    }
}